<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>welcome to aba2222</h1>
    <h2>my name london</h2>
    <p>this page will be the intro</p>
    <h2>HyperLinks</h2>
    <ul>
      <li>BDPA national <a href="http://www.bdpa.org">Site</a></li>
      <li>BDPA milwaukee <a href="http://www.bdpamke.org">Site</a></li>
      <li>BDPA w3schools <a href="http://www.w3schools.com">Site</a></li>
    </ul>
  </body>
</html>
